/* global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 0.5em 0.8em;
  border-radius: 5px;
}

.btn-login {
  background-color: blue;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

button {
  border-style: none;
  color: gray;
  font-size: 1rem;
}
/* main content */

.container {
  width: 95%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

/* navigation */
.nav {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a {
  padding: 0 10px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a{
  padding-right: 10px;
}

.nav-right img {
  padding-right: 10px;
}

/* main section */


.main {
  margin-top: 100px;
}

/* google image */
.google-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}

/* searchbar */
.bar {
  margin:20px auto;
  width:600px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}

.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:550px;
  font-size:16px;
  outline: none;
  margin-left: 20px;
}

/* buttons */

.btn-container {
  display: flex;
  width: auto;
  margin: 25px auto;
  justify-content: center;
}

.btn-search {
  margin: 0 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #f2f2f2;
  border-top: 1px solid #8b8e91;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #8b8e91;
  margin: 0 10px;
}